.CellToggle {
  width: 100%;
  height: 100%;
  display: block;
  padding: .3em;
  cursor: pointer;
  user-select: none; 
  box-sizing: border-box;
  border-radius: 4px;
}

.CellToggle.on {
  background: lightgreen;
}

.CellToggle.off {
  background: lightgrey;
  color: #b1b1b1;
}