.DishRowHeader {
  min-height: 2.3em;
}

.maxWidth {
  width: max-content;
}

.block {
  display: block;
  /*width: max-content;*/
}

.flexVertCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*width: max-content;*/
}

/*limit the length of the string that's shown. so cool!*/
.DishName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;

  /*TODO experiment with this value*/
  max-width: 6em;
}