/* For Firefox */

.RowHeaderContainer.notFocused .StringInput > input{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button 
{
  -webkit-appearance: none;
  margin: 0;
}

input {
  font: inherit;
}


/** test, unused unless manually set class */
input {
  border: none;
  outline: none;
  box-shadow: none;
}