.RowHeaderContainer span {
  display: inline-block;

  /* Hack. Apparently overflow: hidden (in .DishName below) 
  breaks layout. Do it everywhere for now.*/
  /*overflow: hidden;*/
}

.Debug .RowHeaderContainer span{
  background-color: lightgreen;
}

.Debug .RowHeaderContainer {
  background-color: crimson;
}

/* Limit the length of the string that's shown. */
.DishName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* TODO experiment with this value */
  max-width: 6em;
}

.RowHeaderContainer.notFocused {
  cursor: pointer;
}

.RowHeaderContainer.focused span{
  cursor: default;
}

