.RowHeaderContainer span {
  display: inline-block;
}

.Debug .RowHeaderContainer span{
  background-color: lightgreen;
}

.Debug .RowHeaderContainer {
  background-color: crimson;
}

/* Limit the length of the string that's shown. */
.DishName {
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  /*text-overflow: clip;*/

  /* TODO experiment with this value */
  /*max-width: 5em;*/

  /* to help offset the vert placement bump from overflow hidden*/
  /*margin-top: .2em;*/
}

.RowHeaderContainer.notFocused {
  cursor: pointer;
}

.RowHeaderContainer.focused span{
  cursor: default;
}

