
.tr .td:not(:first-child) {
  text-align: center;
}

.table {
  display: table;
  width: auto;
}

.tr {
  display: table-row;
}

.thead {
  display: table-header-group;
}

.tbody {
  display: table-row-group;
}

.tfoot {
  display: table-footer-group;
}

.col {
  display: table-column;
}

.colgroup {
  display: table-column-group;
}

.td,
.th {
  display: table-cell;
}

.caption {
  display: table-caption;
}

.table,
.thead,
.tbody,
.tfoot,
.tr,
.td,
.th {
  margin: auto;
  padding: .3em;
}

.table {
  background: #fff;
  margin: auto;
  border: none;
  padding: 0;
}

.th {
  font-weight: 700;
  text-align: center;
}

.td {
  font-weight: 300;
  vertical-align: middle;
  border-top: 1px solid #dedede;
}

.td:first-child {
  border-right: 1px solid #dedede;
}

.splitterContainer {
  display: inline-block;
  min-width: 100%;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .splitterContainer {
    padding: 0;
  }

  .th {
    padding: .1em;
  }

  .table {
    width: 100%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .table {
    width: 100%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .table {
    min-width: 960px;
  }
}