.Swappable {
  display: inline-block;
}

/* Acts like float:right, but works with flex. just the tip row */
span.fakeFloatRight{
  margin-left: auto;
}

.Swappable.rightPad.notInteractive, span.rightPad{
  padding-right: .3em;
}

.Swappable.leftPad.notInteractive, span.leftPad{
  padding-left: .3em;
}

/* Hack */
.Swappable.middle .InputContainer{
  overflow: hidden
}

.Swappable.notInteractive span {
  /*position: relative;*/
  /*overflow: visible;*/
}

.Swappable.notInteractive div.Underlineable:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  border-top: 1px dotted black;
}

/* parent of anything that will be interactive needs
 to be position relative */
.Swappable.notInteractive div.Underlineable {
  position: relative;
}